html,
body {
  margin: 0rem;
  padding: 0rem;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 0rem;
  padding: 0rem 0rem 0rem 0rem;
  text-align: center;
  background-color: rgb(40, 54, 65);
}
.clock {
  /* Same width as timestamps grid column*/
  width: 5rem;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  color: white;
}

.menuButtons {
  letter-spacing: 0.5rem;
  /* top | right | bottom | left */
  padding: 0rem 0.25rem 0rem 0rem;
}

.newsFeed {
  /* top | right | bottom | left */
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

.newsItem {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: first baseline;
  /* top | right | bottom | left */
  padding: 0rem 0rem 0rem 0rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.timestamp {
  margin: 0;
  padding: 0;
  justify-self: center;
}
.headline {
  /* top | right | bottom | left */
  margin: 0rem 0rem 0rem 0.25rem;
  padding: 0rem 0rem 0.25rem 0rem;
  font-weight: 300;
}

.ticker {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  display: inline-block; /* top | right | bottom | left */
  max-height: 1rem;
  margin: 0rem 0.3rem 0rem 0rem;
  padding: 0rem 0.3rem 0.2rem 0.3rem;
  border-radius: 3px;
  background-color: white;
  color: black;

  font-weight: 700;
}
.tickerHighlight {
  background-color: green;
  color: white;
}

.newsItemInfo {
  margin-left: 0.25rem;
  color: rgba(95, 95, 95, 0.87);
  font-size: 12px;
  font-weight: 500;
}

a:link {
  color: rgb(57, 176, 255);
}

a:visited {
  color: rgb(30, 108, 136);
}

a:hover {
  color: rgb(152, 228, 255);
}
